## Base16 Generated
# Author: Flavours
#
# You can use these variables anywhere in the mako configuration file.

background-color=#232533
text-color=#c4cdce
border-color=#6276b1

[urgency=low]
background-color=#232533
text-color=#6f75a2
border-color=#6276b1

[urgency=high]
background-color=#232533
text-color=#707b72
border-color=#6276b1