## Base16 Generated
# Author: Flavours
#
# You can use these variables anywhere in the mako configuration file.

background-color=#172a27
text-color=#d1cfbd
border-color=#80794d

[urgency=low]
background-color=#172a27
text-color=#53852e
border-color=#80794d

[urgency=high]
background-color=#172a27
text-color=#8d6f88
border-color=#80794d